<div class="current-position-container">
    {{#each model as |position|}}
        <div class="current-position-item">
            <div class="current-position-heading">
                <h3>{{model.currentStockData.position.symbol.quote.companyName}}</h3>
                <h3>{{position.symbol}}</h3>
            </div>
            <div class="current-position-body">
                {{section-pairing title="Purchase Date" info=(moment-format position.purchase_date 'MM-D-YYYY') }}
                {{section-pairing title="Price per Share" info=position.purchase_price}}
                {{section-pairing title="Number of Shares" info=position.num_of_shares}}
                {{section-pairing title="Brokerage Fees" info=position.brokerage_fees}}
            </div>
            <div class="current-position-footer">
                {{section-pairing title="Total Value at Purchase" info=position.value_at_purchase}}
                {{section-pairing title="Current Value" info=position.currentValue}}
                {{!-- {{section-pairing title="Total Value at Purchase" info=position.value_at_purchase}} --}}

            </div>
        </div>
    {{/each}}
</div>

<h1>{{model.currentStockData}}</h1>

{{#each model.currentStockData as |stockInfo|}}
<h1>{{stockInfo.companyName}}</h1>
{{/each}}

