<div class="financial-table" style="overflow-x:auto;">
<table class="table">
    <tr class="financial-header">
        <th>Close Date</th>
        <th>Symbol</th>
        <th>Company Name</th>
        <th>Purchase Price</th>
        <th>Close Price</th>
        <th>Number of Shares</th>
        <th>Close Fees</th>
        <th>Profit ($)</th>
        <th>Profit(%)</th>
  </tr>
    {{#each model.positions as |position|}}
    <tr>
        <td>{{moment-format position.close_date 'MM-D-YYYY'}}</td>
        <td>{{position.symbol}}</td>
        <td>{{position.company_name}}</td>
        <td>{{format-dollar position.purchase_price}}</td>
        <td>{{format-dollar position.close_price}}</td>
        <td>{{position.close_num_of_shares}}</td>
        <td>{{position.close_brokerage_fees}}</td>
        <td>{{is-positive (format-dollar position.profit)}}</td>
        <td>{{is-positive (format-sector position.profit_percentage)}}</td>
    </tr>
    {{/each}}
    </table>
    <table class="table totals-table">
        <tr class="gain-loss-totals">
            <th>Total Ampunt Bought</th>
            <th>Total Amount Sold</th>
            <th>Total Profit ($)</th>
            <th>Total Profit (%)</th>
        </tr>
        <tr>
            <td>{{format-dollar model.totals.total-bought}}</td>
            <td>{{format-dollar model.totals.total-sold}}</td>
            <td>{{is-positive (format-dollar model.totals.total-profit)}}</td>
            <td>{{is-positive (format-sector model.totals.total-profit-percentage)}}</td>
        </tr>
    </table>
    <button class="btn custom-button more-info-button" {{action "excelExport" model.positions}}>
        {{fa-icon "file-excel-o"}}
        {{bs-tooltip title="Export to Excel"}}
    </button>
    

</div>

