{{#if model.quarterlyInfo.financials}}
<div class="key-stats-header">
        <div class="company-name ">
            <h3>{{model.basicInfo.companyName}}</h3>
        </div>
         <div class="divider"></div>
        <div class="company-symbol">
            <h3>{{model.basicInfo.symbol}}</h3>
        </div>
    </div>
    <div class="fa-pulse">
        <span>
            {{fa-icon "question-circle"}}
            {{bs-tooltip title="Hover over the row titles to get information about each financial metric."}}
        </span>
    </div>
    {{display-financials earnings=model.quarterlyInfo.financials}}
   <div class="profile-footer add-options">
        <div class="peers-item footer-option-L">
            <button class="btn peer-button" {{action "addToWatchlist" model.basicInfo.symbol}} >Add to Watchlist</button>
        </div>
        <div class="divider"></div>
        <div class="peers-item footer-option-R" {{action "goToOpenPosition" model.basicInfo.symbol}}>
            <button class="btn peer-button" >Open a Position</button>
    </div>
</div>
{{else}}
<div class="invalid-symbol">
    <h1>Please Enter a Valid Symbol</h1>
</div>
{{/if}}