<div class="key-stats-header">
        <div class="company-name ">
            <h3>{{model.basicInfo.companyName}}</h3>
        </div>
         <div class="divider"></div>
        <div class="company-symbol">
            <h3>{{model.basicInfo.symbol}}</h3>
        </div>
    </div>
<div class="research-news-container">
    {{#each model.newsStories as |story|}}
        {{#if story.headline}}
            {{news-stories story=story}}
        {{else}}
            <div class="invalid-symbol">
                <h1>Please Enter a Valid Symbol</h1>
            </div>
        {{/if}}
    {{/each}}
</div>
 <div class="profile-footer add-options">
        <div class="peers-item footer-option-L">
            <button class="btn peer-button" {{action "addToWatchlist" model.basicInfo.symbol}} >Add to Watchlist</button>
        </div>
         <div class="divider"></div>
        <div class="peers-item footer-option-R" {{action "goToOpenPosition" model.basicInfo.symbol}}>
           <button class="btn peer-button" >Open a Position</button>
        </div>
    </div>