{{#if model.companyInfo.symbol}}
<div class="profile-container">
    <div class="profile-header">
        <div class="header-image"> 
            <img src="{{model.logo.url}}">
        </div>
        <div class="header-symbol">
            <h2>{{model.companyInfo.symbol}}</h2>
        </div>
        <div class="header-company-name">
            <h2>{{model.companyInfo.companyName}}</h2>
        </div>
    </div>
    <div class="profile-border"></div>
    <div class="profile-body">
        <div class="profile-info-list">
            <div class="profile-info-item">
                <div class="profile-info-category">
                    Industry
                </div>
                 <div class="profile-info">
                     {{model.companyInfo.industry}}
                 </div>
            </div>
            <div class="profile-info-item">
                <div class="profile-info-category">
                    Sector
                </div>
                 <div class="profile-info">
                     {{model.companyInfo.sector}}
                 </div>
            </div>
            <div class="profile-info-item">
                <div class="profile-info-category">
                    CEO
                </div>
                 <div class="profile-info">
                     {{model.companyInfo.CEO}}
                 </div>
            </div>
            <div class="profile-info-item">
                <div class="profile-info-category">
                    Website
                </div>
                 <div class="profile-info">
                     <div>
                          <a href={{model.companyInfo.website}} target="_blank">
                              {{model.companyInfo.website}}
                          </a>
                     </div>
                 </div>
            </div>
        </div>
        <div class="profile-description">
            {{model.companyInfo.description}}
        </div>
    </div>
    <div class="profile-footer peers-footer">
        <div class="footer-title"><h3>Peers</h3></div>
        {{#each model.peers as |peer|}}
            <div class="peers-item">
                 <button class="btn peer-button" {{action "researchSymbol" peer}}>
                {{peer}}
            </button>
            </div>
        {{/each}}
    </div>
    <div class="profile-footer add-options">
        <div class="peers-item footer-option-L">
            <button class="btn peer-button" {{action "addToWatchlist" model.companyInfo.symbol}} >Add to Watchlist</button>
        </div>
         <div class="divider"></div>
        <div class="peers-item footer-option-R" {{action "goToOpenPosition" model.companyInfo.symbol}}>
           <button class="btn peer-button" >Open a Position</button>
        </div>
    </div>
</div>
{{else}}
<div class="invalid-symbol">
    <h1>Please Enter a Valid Symbol</h1>
</div>
{{/if}}



{{outlet}}