<div>
<style>
    body {background-image: url("/assets/images/Sky.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
</style>
<nav class="navbar" id="main-nav">
  <a class="navbar-brand" href="/dashboard">Simplified Portfolio</a>


</nav>

<div class="form-div">
<div class='page-header'>
    <h1>Sign In</h1>
</div>
<form class="sign-up-in-form">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    {{input type="email" class="form-control" value=email placeholder="Enter email"}}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    {{input type='password' class='form-control' value=password placeholder='Password'}}
  </div>
{{#if session.isWorking}}
<div class="button-holder">
    <button class='btn sign-in-out-btn' disabled='disabled'>
        {{fa-icon 'spinner' spin=true}} Signing in...
    </button>
    </div>
{{else}}
    <div class="button-holder">
    <button
        class='btn sign-in-out-btn custom-button'
        {{action 'signIn' 'password'}}
    > Sign In
    </button>
    </div>
{{/if}}
</form>
</div>
</div>