<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            {{#link-to "dashboard.home"}}<span class="expanded-header"><h3>Simplified Portfolio</h3></span>
                                         <span class="collapsed-header"><h3>SP</h3></span>{{/link-to}}
        </div>
        <ul class="list-unstyled components">
            <li class="first-nav-link">
                {{#link-to "dashboard.home"}}
                <span class="side-nav-icon">{{fa-icon "home"}}{{bs-tooltip title="Home"}}</span>  
                <span class="side-nav-name">Home</span>{{/link-to}}
            </li>
            <li>
                {{#link-to "dashboard.portfolio.watchlist"}}
                 <span class="side-nav-icon">{{fa-icon "pie-chart"}}{{bs-tooltip title="Portfolio"}}</span>
                  <span class="side-nav-name">Portfolio</span>{{/link-to}} 
            </li>
             <li>
                {{#link-to "dashboard.news"}}
                 <span class="side-nav-icon">{{fa-icon "newspaper-o"}}{{bs-tooltip title="News"}}</span> 
                 <span class="side-nav-name">News</span>{{/link-to}}
            </li>
            <li>
                {{#link-to "dashboard.research"}}
                 <span class="side-nav-icon">{{fa-icon "line-chart"}}{{bs-tooltip title="Research"}}</span> 
                 <span class="side-nav-name">Research</span>{{/link-to}}
            </li>
            <li>
                {{#link-to "dashboard.about"}}
                 <span class="side-nav-icon">{{fa-icon "info-circle"}}{{bs-tooltip title="About"}}</span> 
                 <span class="side-nav-name">About</span>{{/link-to}}
            </li>
            <li>
                <span onclick={{action 'signOut'}}>
                    <a href="#">
                         <span class="side-nav-icon">{{fa-icon "sign-out"}}{{bs-tooltip title="Sign Out"}}</span>
                         <span class="side-nav-name">Sign Out</span></a>
                </span>
            </li>
        </ul>
    </nav>

</div>
