{{#bs-accordion as |acc|}}
    {{#acc.item value="1" title=stock.companyName}}    
        <div class="panel-info">
            <div class="info-section">
                 <div class="panel-item">
                <div class='panel-info-title'>
                    Symbol:
                </div> 
                <div>
                    {{stock.symbol}}
                </div>
            </div>
            <div class="panel-item">
                <div class='panel-info-title'>
                    Price:
                </div> 
                <div>
                    {{stock.latestPrice}}
                </div> 
            </div>
            <div class="panel-item">
                <div class='panel-info-title'>
                    Change: 
                </div> 
                <div>
                    {{is-positive (format-percentage stock.changePercent)}}
                </div>  
            </div>
            </div>
            <div class="buttons-container btn-container-stock-list">
                <div class="empty-buttons"></div>
                <div class="buttons-collection">
                    <div>
                    </div>
                    <button class="btn custom-button more-info-button" {{action "goToResearch" stock.symbol}}>
                        {{fa-icon "line-chart"}}
                        {{bs-tooltip title="See more details"}}
                    </button>
                    <button class="btn custom-button-add add-watchlist-button" {{action "addToWatchlist" stock.symbol}}>
                        {{fa-icon "plus"}}
                        {{bs-tooltip title="Add to watchlist"}}
                    </button>
                </div>
            </div>
        </div>    
    {{/acc.item}}
{{/bs-accordion}}
